# DataFrame's

In [1]:
import pandas as pd
import numpy as np
from sklearn import datasets

### Data Set

In [2]:
iris = datasets.load_iris()
df = pd.DataFrame(
    data=np.c_[iris['data'], iris['target']],
        columns= iris['feature_names'] + ['species'])

df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

### Select

In [3]:
# Coluna como vetor
# Não pode selecionar duas ou mais
# df["sepal length (cm)"] 

# Coluna como dataframe
df[ ["petal width (cm)", "species"] ]

     petal width (cm)  species
0                 0.2      0.0
1                 0.2      0.0
2                 0.2      0.0
3                 0.2      0.0
4                 0.2      0.0
..                ...      ...
145               2.3      2.0
146               1.9      2.0
147               2.0      2.0
148               2.3      2.0
149               1.8      2.0

[150 rows x 2 columns]

### Tranformação de uma coluna

In [4]:
species = {0 : "setosa", 1: "versicolor", 2: "virginica"}
df["species"] = df["species"].apply(lambda x: species[x])
original = df.copy()
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

### Mutate

In [5]:
df["sepal_area"] = df["sepal length (cm)"] * df["sepal width (cm)"]
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,sepal_area
0,5.1,3.5,1.4,0.2,setosa,17.85
1,4.9,3.0,1.4,0.2,setosa,14.70
2,4.7,3.2,1.3,0.2,setosa,15.04
3,4.6,3.1,1.5,0.2,setosa,14.26
4,5.0,3.6,1.4,0.2,setosa,18.00

### Filter

In [6]:
# df.loc[df["species"] == "setosa"]
df.query("species == 'setosa'", inplace=True)
df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,sepal_area
45,4.8,3.0,1.4,0.3,setosa,14.40
46,5.1,3.8,1.6,0.2,setosa,19.38
47,4.6,3.2,1.4,0.2,setosa,14.72
48,5.3,3.7,1.5,0.2,setosa,19.61
49,5.0,3.3,1.4,0.2,setosa,16.50

### Group by + Count

In [7]:
original.groupby("species").size().reset_index(name='n')

      species   n
0      setosa  50
1  versicolor  50
2   virginica  50

In [8]:
original.groupby("species").mean()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
species,,,,
setosa,5.006,3.428,1.462,0.246
versicolor,5.936,2.770,4.260,1.326
virginica,6.588,2.974,5.552,2.026

In [9]:
(original
    .loc[:, ["sepal length (cm)", "species"]]
    .query("`sepal length (cm)` < 6.0")
    .groupby("species")
    .median()
    .reset_index()
)

      species  sepal length (cm)
0      setosa                5.0
1  versicolor                5.6
2   virginica                5.8

# Pyspark

In [10]:
from pyspark.sql import SparkSession, Row

spark = SparkSession.builder.getOrCreate()

### Leitura do banco

In [11]:
df = spark.read.csv("./House_Rent_Dataset.csv", header=True, sep=",", inferSchema=True,)
df.createOrReplaceTempView("Aluguel_ds")
df.show(5)

+-------------------+---+-----+----+---------------+-----------+--------------------+-------+-----------------+----------------+--------+----------------+
|          Posted On|BHK| Rent|Size|          Floor|  Area Type|       Area Locality|   City|Furnishing Status|Tenant Preferred|Bathroom|Point of Contact|
+-------------------+---+-----+----+---------------+-----------+--------------------+-------+-----------------+----------------+--------+----------------+
|2022-05-18 00:00:00|  2|10000|1100|Ground out of 2| Super Area|              Bandel|Kolkata|      Unfurnished|Bachelors/Family|       2|   Contact Owner|
|2022-05-13 00:00:00|  2|20000| 800|     1 out of 3| Super Area|Phool Bagan, Kank...|Kolkata|   Semi-Furnished|Bachelors/Family|       1|   Contact Owner|
|2022-05-16 00:00:00|  2|17000|1000|     1 out of 3| Super Area|Salt Lake City Se...|Kolkata|   Semi-Furnished|Bachelors/Family|       1|   Contact Owner|
|2022-07-04 00:00:00|  2|10000| 800|     1 out of 2| Super Area|         Dumdum Park|Kolkata|      Unfurnished|Bachelors/Family|       1|   Contact Owner|
|2022-05-09 00:00:00|  2| 7500| 850|     1 out of 2|Carpet Area|       South Dum Dum|Kolkata|      Unfurnished|       Bachelors|       1|   Contact Owner|
+-------------------+---+-----+----+---------------+-----------+--------------------+-------+-----------------+----------------+--------+----------------+
only showing top 5 rows

### Querys em SQL

In [12]:
(spark
    .sql(
        """
        SELECT BHK, Floor, Size, Bathroom, City, Rent
        FROM ALuguel_ds
        WHERE City="Delhi" 
            AND Bathroom=2 
            AND Rent < 10000
        LIMIT 5
        """)
    .show(5))

+---+---------------+----+--------+-----+----+
|BHK|          Floor|Size|Bathroom| City|Rent|
+---+---------------+----+--------+-----+----+
|  2|     4 out of 4| 445|       2|Delhi|9000|
|  1|     2 out of 4| 600|       2|Delhi|9500|
|  2|     1 out of 3| 145|       2|Delhi|9000|
|  2|     1 out of 1| 380|       2|Delhi|5500|
|  2|Ground out of 3| 100|       2|Delhi|8000|
+---+---------------+----+--------+-----+----+

## Regressão Logística

In [13]:
from pyspark.ml.feature import VectorAssembler, StringIndexer

cidade = StringIndexer(inputCol="City", outputCol="City_lab")
features = VectorAssembler(inputCols=["BHK", "Bathroom", "Rent", "Size"] ,outputCol="features")

pipe_seq = [cidade, features]

In [14]:
from pyspark.ml import Pipeline

pipeline = Pipeline(stages = pipe_seq)
pipelineModel = pipeline.fit(df)
df = pipelineModel.transform(df)
selectedCols = df.columns
df = df.select(selectedCols)
df.printSchema()

root
 |-- Posted On: timestamp (nullable = true)
 |-- BHK: integer (nullable = true)
 |-- Rent: integer (nullable = true)
 |-- Size: integer (nullable = true)
 |-- Floor: string (nullable = true)
 |-- Area Type: string (nullable = true)
 |-- Area Locality: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Furnishing Status: string (nullable = true)
 |-- Tenant Preferred: string (nullable = true)
 |-- Bathroom: integer (nullable = true)
 |-- Point of Contact: string (nullable = true)
 |-- City_lab: double (nullable = false)
 |-- features: vector (nullable = true)

In [15]:
treino, teste = df.randomSplit([0.8, 0.2], seed=2022)
print(f"Training Dataset Count: {treino.count()}")
print(f"Test Dataset Count: {teste.count()}")

Training Dataset Count: 3791
Test Dataset Count: 955

In [16]:
from pyspark.ml.classification import LogisticRegression

lr = LogisticRegression(featuresCol = 'features', labelCol = 'City_lab', maxIter=10)
lrModel = lr.fit(treino)

In [17]:
predictions = lrModel.transform(teste)
predictions.select('Rent', 'Size', 'City', 'rawPrediction', 'prediction', 'probability').show(10)

+-----+----+---------+--------------------+----------+--------------------+
| Rent|Size|     City|       rawPrediction|prediction|         probability|
+-----+----+---------+--------------------+----------+--------------------+
|15000|1000|  Kolkata|[-1.4336267592778...|       2.0|[0.02912356323592...|
|36125|1700|  Kolkata|[-3.6200326459441...|       1.0|[0.00240513687576...|
| 9000| 650|  Kolkata|[-2.1056478854716...|       5.0|[0.01349452047314...|
|12000|1000|  Kolkata|[-2.6774306687692...|       1.0|[0.00775160105075...|
|13000|1000|  Kolkata|[0.66560439810214...|       3.0|[0.18409749747501...|
|18000|1300|  Kolkata|[-1.8482311647371...|       3.0|[0.01654716972550...|
|20000| 700|    Delhi|[-0.2298528005253...|       2.0|[0.12045942903651...|
| 7500| 450|    Delhi|[-1.5551454816351...|       5.0|[0.02540588237963...|
| 9000| 600|  Kolkata|[-1.9484695076333...|       5.0|[0.01623227347951...|
|30000|1875|Bangalore|[-4.4895189907384...|       1.0|[7.70143515142275...|
+-----+----+---------+--------------------+----------+--------------------+
only showing top 10 rows

In [18]:
import matplotlib.pyplot as plt

trainingSummary = lrModel.summary
roc = trainingSummary
roc.accuracy

0.46214719071485094